*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

ul{
  padding-left: 0%;  
}
body{
    position: relative;
    background-color: #CDD5DB;
    padding-bottom: 3em;
    min-height: 100vh;
   overflow-x:hidden ;
}

header{
    
height: 30vh;
}
.carousel{
    height: 40%;
  background-color: lightseagreen;
  
}

h2{

    text-align: center;
  
}

.card-body button{
    box-shadow: -5px -4px 6px blue;
}



.logo{
    height: 3em;
    width: 15em;
    background-image: url("../img/Logo_Amazing_Events.png");
    background-size:100% 100%;
     margin: 10px;    
} 

/* ----CARDS---- */

  .card{
    
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
    width:20em ;
    height: 60vh;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
          
   
}

.cards{
    
    align-items: center;
    width:100vw ;
    height: 90%;

    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
            
}

.card-img-top{
    position: relative;
    width: 15em;
    height: 10em;
    top: 20px;
    box-shadow: -8px -2px 8px 3px black; 
}

.card-title{
    text-align: center;
    margin-top:10px;
}

.card-body{
    gap:18px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}


/* ----FOOTER----- */
.footer{
     position:absolute;
     width: 100%;
     height: 3em;
     background-color: lightseagreen;
    display: flex;
    align-items: center;
 
   bottom: 0%;

     
 }
 
 .container-social-media{
     width: 50%;
     height: 9vh;
   
 
 }
 
 .lista-iconos-footer {
    width: 50%;
    height: 70%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
   gap: 10px;
   margin-top: 10px;
   margin-left: 10px;
       
 }
 
 .lista-iconos-footer li{
     margin-left: 10px;
     margin: 0%;

  
 
 }
 
 .icono-footer1{
     width: 2.5em;
     height: 2.5em;
     background-image: url("../img/instagram.svg");
     background-size: 100% 100%;
 }
 
 
 .icono-footer2{
     width: 2.5em;
     height: 2.5em;
     background-image: url("../img/facebook.svg");
     background-size: 100% 100%;
 }
 
 .icono-footer3{
     width: 2.5em;
     height: 2.5em;
     background-image: url("../img/whatsapp.svg");
     background-size: 100% 100%;
 }
 .conteiner-cohort
 { position:absolute;
     width: 30%;
     height: 60%;
     right:2%;
     text-align:end;
     bottom: 40%;
   
    
 }
 
 .conteiner-cohort p{
     font-size: 30px;
     font-weight: 600;
 }

 /* --checkbox y busqueda */
 .checkbox{
    width: 90%;
    height: 35vh;
   margin-top: 40px;
   margin-right: auto;
   margin-left: auto;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
   
   align-items: baseline;
  
 }

 .tamanio-serch{
    width: 40vw;
 }


.active-btn{
    background-color: violet;
    border-radius: 5px;
}


.main-contact form{
    font-size: 20px;
    font-weight:700;

}

.contact{
    position: relative;
    width: 20vw;
    display: flex;
    flex-direction: column;
    
   
}

.border-texto{
    border: 2px solid blue;
}

header.details-header {
    height: 10%;
}

.card-deatils{
height: 100%;
border: 3px solid green;
}

.main-details{
    height: 60vh;
    background-color: antiquewhite;

}

/* ----CARRUSEL----- */
.carrusel-home{
    height:20vh ;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: space-between;
   
    font-size: 40px;
    font-weight: 500;
}

.carrusel-home svg{
    width: 50px;
    height: 50px;
    color: black;
    margin-left: 40%;
    margin-right: 40%;

}

.doble-rigth{
    display: flex;
    justify-content: flex-end;
}

.center{
    display: flex;
    justify-content: center;
}



/* ---stats--- */

td{
    height: 2em;
}

th{
    font-size: 1.5em;
}

table{
    width: 80%;
    height: 70%;
    box-shadow: 4px 5px 3px black;
}

.main-stats{
    width: 80%;
    height: 70%; 
    margin-left: auto;
    margin-right: auto;
}

/* ---contact --- */
.btn-contact{
    display: flex;
    justify-content: flex-end;
}
.btn-contact button {
   
  

box-shadow: 4px 5px 3px black;
   
   
}

/* ----MEDIA QUERY----- */

@media (max-width: 575.98px) { 
    .checkbox{
        width: 100%;
        height: 15vh;
       margin-top: 10px;  
      
     }
 }


@media (min-width: 576px) {

      .menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: center;
        padding-bottom: 0%;
      
    
    
    }

  


    /* ------CARDS---- */

   
    } 

  
 
.row-contact{
   
    margin-left: auto;
    margin-right: auto;
    margin-top: .5px;
    padding: 0%;
    padding-bottom: 10px;
   
}
.details{
    justify-content: center;
    align-content: center;
    gap: 10px;
  
}



@media (min-width: 768px) { 
.btn-rigth{
    position:absolute;
    text-align:end;
    right: 5px;
 
}

    .logo{
        height: 10vh;
        width: 10vw;
        background-image: url("../img/Logo_Amazing_Events.png");
        background-size:100% 100%;
        left: 0%;
    }
  

 

.lista-menu li{
    margin-left:20px;
    border-radius: 5px;
    box-shadow: -2px 5px 5px gray  ;

}


.card{
    
   margin-top: 20px;
    margin-bottom: 5px;
    width:20em ;
    border-radius: 10px;
    
    
          
   
}


 }

@media (min-width: 992px) { 
  
  .row-cols-md-3{
    width: 100vw;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   }

   .card{
    position: relative;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width:20em ;
    border-radius: 10px;
     
}

.checkbox{
    width: 100%;
    height: 15vh;
   margin-top: 10px;

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
  align-content: center;

  
 }



/* ---formulario contact--- */

              
       
 }


 

 