*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
  position: relative;
  background-color: #CDD5DB;
  padding-bottom: 3em;
  min-height: 100vh;
 overflow-x:hidden ;
}

.logo{
    height: 3em;
    width: 8em;
    background-image: url("../img/Logo_Amazing_Events.png");
    background-size:100% 100%;
     margin: 10px;    
} 
.active-btn{
  background-color:#CDD5DB;
  border-radius: 3px;
}
.card .btn {
  background-color: #56C4C5;
}

.card .btn:hover {
  background-color: blue;
}


.lista-menu li:hover{
  box-shadow: 0px 0px 3px blue;
  background-color: #D90368;
}
.lista-menu .active-btn:hover{
  box-shadow: 0px 0px 3px blue;
  background-color: #D90368;
}

/* ------carrusel--------- */
.carrusel{
  height: 8vh;
  width: 100%;
  display: flex;
  background-color:#56C4C5;
  justify-content: space-around;
  text-align: center;
  align-content: baseline;
}

.carrusel svg{
   width: 50px;
   height: 50px;
    color: black;

   
 
}
 .left{
align-items: center;
height: 10vh;

  

}


.center{
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}


.left{
 align-items: end;
  height: 10vh;
}


/* ------CheckBox and Search-------- */



/* ----CARDS---- */

.card{
    
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
  width:20em ;
  height: 60vh;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;

        
 
}

.cards{
  
  align-items: center;
  width:100vw ;
  height: 90%;

  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
          
}

.card-img-top{
  position: relative;
  width: 15em;
  height: 10em;
  top: 20px;
  box-shadow: -8px -2px 8px 3px black; 
}

.card-title{
  text-align: center;
  margin-top:10px;
}

.card-body{
  gap:18px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}


/* ---stats--- */

td{
  height: 2em;
}

th{
  font-size: 1.5em;
}

table{
  width: 80%;
  height: 70%;
  box-shadow: 4px 5px 3px black;
}

.main-stats{
  width: 80%;
  height: 70%; 
  margin-left: auto;
  margin-right: auto;
}

/* ---contact --- */
.btn-contact{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.btn-contact button {
 


box-shadow: 4px 5px 3px black;
 
 
}

.main-contact form{
  font-size: 20px;
  font-weight:700;

}


.contact{
  position: relative;
  width: 20vw;
  display: flex;
  flex-direction: column;
  
 
}
.row-contact{
  box-shadow:2px 4px 5px black ;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
   
}
.btn-contact button {
  background-color: #56C4C5;
}
.btn-contact button:hover {
  background-color: blue;
}

/* ----Details---- */
.main-details{

  width: 90%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
}
.card-deatils{
 box-shadow: 5px 5px 5px;
  width:90%;
  height: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.center-text{
display: flex;
justify-content: center;
 text-align: center;
 

}
.cards-ditais{
  box-shadow: -10px -10px 5px ;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  height: 100%;

}

/* ----FOOTER----- */
.footer{
  position:absolute;
  width: 100%;
  height: 3em;
  background-color: #56C4C5;
 display: flex;
 align-items: center;

bottom: 0%;

  
}

.container-social-media{
  width: 50%;
  height: 7vh;
 



}

.lista-iconos-footer {
 width: 30vw;
 height: 7vh;
 list-style: none;
 display: flex;
 flex-direction: row;
 justify-content: start;
 align-items: center;
margin-left: 0%;
padding: 0%;

 

    
}

.lista-iconos-footer li{
  margin-left:10px;

 



}

.icono-footer1{
  width: 2.5em;
  height: 2.5em;
  background-image: url("../img/instagram.svg");
  background-size: 100% 100%;
}


.icono-footer2{
  width: 2.5em;
  height: 2.5em;
  background-image: url("../img/facebook.svg");
  background-size: 100% 100%;
}

.icono-footer3{
  width: 2.5em;
  height: 2.5em;
  background-image: url("../img/whatsapp.svg");
  background-size: 100% 100%;
}
.conteiner-cohort
{ position:absolute;
  width: 55%;
  height: 60%;
  right:.5%;
  text-align:end;
  bottom: 40%;

 
}

.conteiner-cohort p{
  font-size: 30px;
  font-weight: 600;
  padding-right: 5px;
}




/* ----MEDIA QUERY----- */
@media (max-width: 449px) { 
    .logo{
        height:3em;
        width:80vw;
        background-image: url("../img/Logo_Amazing_Events.png");
        background-size:100% 100%;
         margin: 10px;    
    } 

   

    .btn-nav{
        display: none;
    }

    .lista-menu{
        display: flex;
        flex-direction: column;
    }

  .lista-menu li{
     font-size: 1em;
     border-bottom: 2px solid #D90368;
     border-right: 2px solid #D90368;
     width: 50%;
     margin-bottom: 10px;
     border-radius:5px;
     box-shadow: 3px 5px 3px #D90368;
    }

  .navbar>.container-fluid{
   justify-content: flex-end;
    }


    .carrusel{
     justify-content: space-around;
      text-align: center;
    
    }
    .rigth .bi-chevron-double-right{
      justify-content: center;
   align-items: center;
   align-content: center;
    }

    .container-social-media .container-fluid {
      display: flex;
      flex-direction: row;
      justify-content:flex-start;
      align-items: start;
      align-content: flex-start;
      width: 100%;
    
    }
 
    
    .container-social-media .container-fluid ul{
      justify-content:flex-start;
    }
    p{
      width: 100%;
      right: 40px;
    }
  }
 

  @media (min-width: 768px) { 
  .lista-menu{
        height: 10vh;
        width: 100%;
        display: flex;
       flex-direction: row;
       justify-content: flex-end;
       align-items: center;
      
    }

    .navbar {
        align-items: baseline;
       
    }
    .lista-menu li{
     border: 2px solid #D90368;
     margin-left: 10px;
     border-radius: 5px ;
     box-shadow: -5px -4px 5px #D90368;
  
    }

    .d-flex-form{
      display: flex;
      justify-content: center;
      align-items:center ;
    
    }
    .row-checkbox{
     
      justify-content: center;
      align-items:center ;
    }
  }


 /* ---MD--- */
 @media (max-width: 767.98px) { 
.d-flex .form-control{
  border: 2px solid black;
height: 9vh;
width:100%;
}

.checkbox-order{
 flex-wrap: nowrap;
 width: 100vw;
}

.row-checkbox{
margin-left: 20px;

}


.icon-busqueda{
height: 15%;
width: 10%;
padding: 0%;

}
.lista-menu li{
  font-size: 1em;
  border-bottom: 2px solid #D90368;
  border-right: 2px solid #D90368;
  width: 50%;
  margin-bottom: 10px;
  border-radius:5px;
  box-shadow: 3px 5px 3px #D90368;
 }



/* .icon-busqueda img{
  border: 2px solid red;
height: 75%;
width: 75%;
padding: 0%;

} */

  }
  /* ----LG----- */
  @media (max-width: 992) { 
    .checkbox-order{
      margin: 0%;
      padding: 0%;
    }
    .d-flex-form{
      justify-content:start ;
    }
    .checkbox-order {
      margin-left: 25px;
     
    }

  }


  @media (max-width: 1199.98px) { 
    .checkbox-order {
      justify-content:space-between;
      
    }
.checkbox {

  flex-direction:row ;
  justify-content: flex-start;
  flex-wrap: wrap;

}


  }

  @media (min-width: 1200px) { 
    .aling-cards{
     margin-left: auto;
     margin-right: auto;
  
     }

  }