*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

ul{
  padding-left: 0%;  
}
body{
    position: relative;
    background-color: #CDD5DB;
    padding-bottom: 5em;
    min-height: 100vh;
overflow-x:hidden ;
}


/* ----------------MENU---------------- */
.lista-menu li{ 
    list-style: none;
    background-color: blueviolet;
    width: 100vW;
    border: 1px solid white;
    text-align: center;
    font-size:30px;
    padding-left: 0%;

    
    
}

.lista-menu li a{
    text-decoration: none;
    color: black;
    
}

.logo{
    height: 10vh;
    width: 90vw;
    background-image: url("../img/Logo_Amazing_Events.png");
    background-size:100% 100%;
     margin: 10px;    
} 

#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-bottom: 0%;
       


}

h1{
    text-align: center;
    
}

.carousel{
    background-color: lightseagreen;
    position: relative;
    top: -14px;
}

div label{
  width: 30vw;
  margin-left:auto;
  


}
.container-usqueda{
    position: relative;
    left: 10vw;
}

.category{
   display: flex;
   flex-wrap:wrap;
   border: 2px solid blue;
   width: 80vw;
   left: 10vw;
   

}

.busqueda label input {
   margin-top: 10px;
    width: 60vw;
    margin-left: 5vw;

}

.busqueda{
    position: relative;
    width: 100vw;

}



.container-busqueda{
    background-image: url("../img/icons8-búsqueda.svg");
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    right:25vw;
    top: -4px;
  }


.contenedor-cards{

width: 95vw;
display: flex;
flex-direction: column;
align-items: center;
align-content: center;
left: -5vw;


}

.card{
    
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5px;
    width:20em ;
    border-radius: 10px;
     
   
}

.card-img-top{
    position: relative;
    width: 15em;
    height: 10em;
   
    top: 20px;
    box-shadow: -8px -2px 8px 3px black; 
}

.card-img1{
    background-image: url("../img/Cinema.jpg");
    background-size: 100% 100%;

}

.card-img2{
    background-image: url("../img/Food_Fair.jpg");
    background-size: 100% 100%;

}

.card-img3{
    background-image: url("../img/Museum_Tour.jpg");
    background-size: 100% 100%;

}

.card-img4{
    background-image: url("../img/Music_Concert.jpg");
    background-size: 100% 100%;

}

.container-imag{
    position: relative;
    
   
}
.card-title{
text-align: center;
margin-top: 20px;

}


.footer{
   /*  position: sticky; */
   position:absolute;
    padding: 1em 0;
    width: 100%;
    height: 4em;
    z-index: 10;
    background-color: lightseagreen;
    bottom: 0%;
 display: flex;
 align-content: row;
 align-items: center;
 justify-content: baseline;
    
}

.container-social-media{
    margin-top: 10px;
    width: 50vw;
    height: 9vh;

}

.lista-iconos-footer {
   list-style: none;
   display: flex;
   flex-direction: row;
}

.lista-iconos-footer li{
    margin-left: 10px;
    margin-bottom: 30px;

}

.icono-footer1{
    width: 2.5em;
    height: 2.5em;
    background-image: url("../img/instagram.svg");
    background-size: 100% 100%;
}


.icono-footer2{
    width: 2.5em;
    height: 2.5em;
    background-image: url("../img/facebook.svg");
    background-size: 100% 100%;
}

.icono-footer3{
    width: 2.5em;
    height: 2.5em;
    background-image: url("../img/whatsapp.svg");
    background-size: 100% 100%;
}
.conteiner-cohort
{ position:absolute;
    margin-top: 20px;
    width: 30%;
    height: 60%;
    right:2%;
    text-align:end;
    margin-bottom: 5%;
   
}

.conteiner-cohort p{
    font-size: 25px;
    font-weight: 600;
}

/* @media (max-width: 480px) {  }


@media (max-width: 767px) { } */

@media (min-width: 480px) and (max-width: 744px) { 

    .category{
        display: flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
        
     
     }
     
     .busqueda label input {
        margin-top: 10px;
         width: 18em;
         margin-left: 20px;
     
     }
     
     .busqueda{
         position: relative;
         width: 100vw;
     
     }
     
     img{
        position: absolute;
        right:40vw;
        top: -4px;
    }
    
 
 
    }  

    .contenedor-cards{

        width: 95vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
       margin: auto;  
      justify-content: center;
        
        }

     
 
   
    


@media (min-width: 745px) { 

    .col-xl-9{
        display: flex;
        flex-direction: row;
        
    }


    /* .category{
        display: flex;
        
        flex-wrap:nowrap;
        justify-content: start;
        border: 2px solid blue;
     width: 80vw;
     left:-20px;
          
     }
   
      
      
      
      .container-usqueda{
        display: flex;
        flex-direction: row;
        flex-wrap:nowrap ;         
      }
      
    
      
      .busqueda label input {
         margin-top: 10px;
          width: 20vw;
      
      }
      
      .busqueda{
          position: relative;
          width: 100vw;
      
      }
   

      .contenedor-cards{

        width: 95vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
       margin: auto;     
        
        } */

 }