<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Event</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="shortcut icon" href="./img/favicon.png">

    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<header class="d-flex flex-column bd-highlight mb-3">

 <nav class="navbar  navbar-expand-md navbar-expand-lg   bg-body-tertiary" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><div class="logo"></div></a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse  btn-rigth menu" id="navbarScroll">
        <ul class="navbar-nav lista-menu"    style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link" href="./index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  active-btn" aria-current="page" href="./upcomingEvent.html">Upcoming Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pastEvent.html">Past Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contact.html">Contact</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="./stat.html">Stats</a>
          </li>  
        </ul>   
      </div>
    </div>
  </nav>


  <!-- Carrusel -->
  <div class="carrusel">
    <div class="col-3  ">
      <div class="container-fluid  left ">
       <a href="./index.html"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left " viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
          <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg></a>
    </div>
  </div>

    <div class="col-6"> 
    <div class="container-fluid">
    <div class="center">
      Upcoming Event
    </div>
</div>
</div>
     <div class="col-3 ">
        <div class="container-fluid doble-rigth rigth ">
          <a href="./pastEvent.html"><svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg></a>
      </div>
   </div>
  </div>
</header>

<!-- -----MAIN-------- -->


    <!-- ---FORMULARIO BUSQUEDA -->
    <!--checkbox-->

<!-- -----MAIN-------- -->
<div id="app">
  <!-- ---FORMULARIO BUSQUEDA -->
  <!--checkbox-->
<div class="checkbox ">
  <div class="row row-checkbox">
  <div class="col-7 col-xs-8 col-md-12 col-lg-7 col-xl-8 "> 
  <div class="container-fluid center-checkbox-search checkbox-order categoria">
   <!--  <div v-for="categoria of categorias" class="centrar form-check form-check-inline ">
      <input v-model="categoriasSeleccionadas" class="m-1 form-check-input" type="checkbox" :name="casa" :id="casa" :value="casa" >
      <label class="form-check-label" :for="casa">
        {{categoria}} </label>
     
     </div> -->
     <div v-for="categoria of categorias" class="custom-control custom-switch form-check-inline m-4">
      <input  v-model="categoriasSeleccionadas" :value="categoria" type="checkbox" class="custom-control-input" :id="categoria">
      <label class="custom-control-label" :for="categoria">{{categoria}}</label>
    </div>

    </div>
</div>
  <!--checkbox-->
<!--search-->
    <div class="col-12 col-xs-6 col-md-12 col-lg-5 col-xl-4 ">
      <div class="container-fluid">

    <form class="d-flex  d-flex-form" role="search">
      <div class=" col-10 col-xs-6 col-md-4 col-lg-8 col-xl-9">
        <div class="container-fluid form-order">
       <!--  <input @input="filtrarPorTexto" v-model='texto' class="form-control me-2 tamanio-serch" type="search" placeholder="Search" aria-label="Search"> -->
       <input v.model="texto" v-model='texto' class="form-control me-2 tamanio-serch" type="search" placeholder="Search" aria-label="Search">
      </div>
    </div>
      <div class="col-2 col-md-2 col-lg-4col-xl-3">
        <div class="container-fluid">
    <!--  <button class="btn icon-busqueda"> -->
      <img src="./img/icons8-búsqueda.svg" alt="buscar">
      <!--   </button>  -->
        </div>
      </div>
      </form></div>
 </div>
</div>
</div>

<!-- cards -->
<!--  {{filtrarPorTexto}}
{{filtrarPorCategorias}} -->

{{filtroDoble}}
<div>
  <h2 v-if="datas.length == 0"  class="m-5">{{mensaje}}</h2>
</div>
<div class="row  cols-2
row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-4  aling-cards add-card"  >
<div class="col" v-for="event of datas">
  <div class="card-completa"> 
  <div class="card">
    <img :src="event.image" class= "card-img-top img-fluid"  alt="Maraton" style ="width: 15rem; height: 13rem;">
  </div>
    <div class="card-body">
      <h5 class="card-title col-row-6">{{event.name}}</h5>
      <p class="col-row-12">{{event.description}}</p>  
      <p col-row-6>Precio ${{event.price}}</p>
      <a class="botonEnlace" :href= "'./details.html?id='+event._id" >More... </a>
    </div>
  </div>
</div>
</div>


<!-- ----FOOTER --- -->
<footer class="footer">
  <div class="container-social-media col-7 ">
    <div class="container-fluid">
    <!-- Section: Social media -->
    <ul class="lista-iconos-footer">
      <!-- Instagram -->
      <li>
        <div class="icono-footer1">
          </div>
      
       <!-- Facrbook -->
      <li> <div class="icono-footer2">
        
      </div></li>
       <!-- Whatsapp -->
      <li><div class="icono-footer3">
      
      </div></li>
    </ul>   
    
    </div>
  </div>
    <div class="conteiner-cohort col-5">
      <div class="container-fluid conteiner-coho ">
      <p>FE04-TN</p>
     </div>
    </div>
     <!-- Section: Social media -->
</footer>
</div>

    

       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!--   <script src="./js/data.js"></script> -->
   <!--  <script src="./js/funciones.js"></script> -->
    <script src="./js/upcomingEventVue.js"></script>

</body>
</html>